 <!-- LIGHTBOX -->
	  <div class="backdrop"></div>
    <div class="box">
      <div class="close"><img src="assets/close.png"/></div>
      <div id="content">Light Box Text</div>
    </div>
    	




  <!-- NAVIGATION -->   				
    <div class="nav">
      <div class="one">
        <input type="button" id="btnScrollToTop" value="HOME" onclick="ScrollToTop()" /> 
        <input type="button" id="btnScrollPositionB" value="ABOUT" onclick="ScrollToPositionB()" />
       <div class="two"> 
        <input type="button" id="btnScrollPositionA" value="PORTFOLIO" onclick="ScrollToPositionA()" />
        <input type="button" id="btnScrollPositionC" value="CONTACT" onclick="ScrollToPositionC()" />
       </div>
      </div>
    </div>
    



 <!-- HOME PAGE -->    
  	<div id="home">
  	   <a name="home"></a>
  	  <span id="liner">"I am an artist 
        <span class="bb"><img src="assets/wet_paint.png" /></span><br>
      </span>
  	  
      <canvas id="myCanvas" width="1000" height="500"> </canvas>
  	  <span class="right"><img src="assets/html5.png"/><span>the web is my canvas"</span></span>
  	</div>
		 	
				




<!-- ABOUT PAGE -->  
		<div id="about">
		   <a name="about"></a>

		  <h1>ABOUT ME</h1><span class="sub"> watch out, time for me to brag..</span>
		  
		  <p>Hello, my name is Paolo Cosentino I'm a Web & Graphic Designer based in Chicago, Il. I also have major skills in motion graphics, and print design. If you have a project or creative need that I can help with, get ahold of me!
		  </p>
		  
<div class="pic">
      <img src="assets/me.jpg" />
      </div>


		  <p id="p1">I'm obsessed with making things and even more obsessed with making things better. I've been in the business of creating since I hung my first painting on the fridge when I was 3. After graduating from Dominican University, I've been actively involved in the web design community for the last 2 years. I currently work for a web and print design company called TUKAIZ based out of Franklin Park.
<br><br>
      My specialty is front-end web design and development, making pixel magic in photoshop and turning it into beautiful, semantic HTML & CSS. My interests, however, extend beyond the web and I love helping people with print, web and marketing strategy. I even love making designs move by creating professional motion graphics and video.
<br><br>
      When I'm not designing, you can find me on the golf course or going out for a nice brisk jog.
      </p>
		  
		  
		  
		<div id="skills">LOOK WHAT I CAN DO<br>
	  	  <div class="col1">
  	  	  <div id="column_item">Web Design</div> 
    		  <div id="column_item">Branding & Identity</div> 
          <div id="column_item">Version Control</div> 
          <div id="column_item">Command Line</div> 
          <div id="column_item">HTML/CSS</div>
          <div id="column_item">Motion Graphics</div>
          <div id="column_item">Social Media</div>
          <div id="column_item">Search Engine Optimization</div>
  		  </div>
		  
		    <!-- <div class="col2">
  		  </div> -->
		</div>
	</div>  		
				
				




<!-- PORTFOLIO PAGE -->  				
<div id="portfolio">
  
   <a name="portfolio"></a>	
  <h1>PORTFOLIO</h1>	
  <span class="sub">hey mac, you wanna buy a sundial?</span>

		<!-- Carousel -->
 <div class="my_carousel">
			<!-- Carousel Containter -->
  <div class="carousel_container">
					
      		<div id="carousel"></div>
        		<img class="nextItem" src="assets/arrow_left.png"/>
        		<img class="prevItem" src="assets/arrow_right.png"/>
        	</div>
	
      		<!-- Caption Container -->
      		<div class="caption_container">
      			<div id="captions"></div>
      		</div>
		

          <div class="carousel_data">
          				<!-- begin items -->
          				<!-- Item -->
            <div class="carousel_item">
          		  <div class="image"><img src="assets/touch_preview.jpg"/></div>
          			<div class="caption">
          				<h2>Buzz</h2>
				
          				  <p>this is buzz lightyear</p>
          				  <a href="#" class="lightbox"> CHECK ME OUT</a>
          				  <div id="box_content"><img src="assets/touch_purl.jpg"/></div>
          				  <br>
				
          			</div>	
          	</div>
          </div>
				
			
				
          <div class="carousel_data">
          				<!-- begin items -->
          				<!-- Item -->
            <div class="carousel_item">
          		<div class="image"><img src="assets/asa_preview.jpg"/></div>
          			<div class="caption">
          				<h2>Woody</h2>
				
          				  <p>this is Sheriff Woody</p> 
          				  <a href="#" class="lightbox"> CHECK ME OUT</a>
          				  <div id="box_content"><img src="assets/asa_purl.jpg"/></div>
          				  <br>
			
          			</div>	
          	</div>
          </div>


          <div class="carousel_data">
          				<!-- begin items -->
          				<!-- Item -->
            <div class="carousel_item">
          		<div class="image"><img src="assets/thumb_image3.jpg"/></div>
          			<div class="caption">
          				<h2>Jesse</h2>
				
          				  <p>this is Jesse</p> 
          				  <a href="#" class="lightbox"> CHECK ME OUT</a>
          				  <div id="box_content"><img src="assets/image3.jpg"/></div>
          				  <br>
			
          			</div>	
          	</div>
          </div>


          <div class="carousel_data">
          				<!-- begin items -->
          				<!-- Item -->
            <div class="carousel_item">
          		<div class="image"><img src="assets/thumb_image4.jpg"/></div>
          			<div class="caption">
          				<h2>Rex</h2>
				
          				  <p>this is Rex</p> 
          				  <a href="#" class="lightbox"> CHECK ME OUT</a>
          				  <div id="box_content"><img src="assets/image4.jpg"/></div>
          				  <br>
			
          			</div>	
          	</div>
          </div>


          <div class="carousel_data">
          				<!-- begin items -->
          				<!-- Item -->javascript:void(0)
            <div class="carousel_item">
          		<div class="image"><img src="assets/frito_preview.jpg" width="200px" height="200px"/></div>
          			<div class="caption">
          				<h2>Frito Reskin</h2>
				
          				  <p>The Frito Reskin Project involved a precoded website and laying on a completely different look (and feel)</p> 
          				  <a href="#" class="lightbox">lets take a look, shall we?</a>
          				  <div id="box_content"><img src="assets/frito.jpg"/></div>
          				  <br>
			
          			</div>	
          	  </div>
            </div>
    </div>
  </div>
</div>





<!-- CONTACT PAGE -->  
	<div id="contact">
	
    
	  <a name="contact"></a>

	  <h1>CONTACT</h1><span class="sub"> don't be shy, drop by and say HI!</span>

         <form name="contactform" method="post" action="send_form_email.php">
         <table width="450px">
         <tr>
          <td valign="top">
           <label for="first_name">First Name *</label>
          </td>
          <td valign="top">
           <input  type="text" name="first_name" maxlength="50" size="30">
          </td>
         </tr>
         <tr>
          <td valign="top">
           <label for="last_name">Last Name *</label>
          </td>
          <td valign="top">
           <input  type="text" name="last_name" maxlength="50" size="30">
          </td>
         </tr>
         <tr>
          <td valign="top">
           <label for="email">Email Address *</label>
          </td>
          <td valign="top">
           <input  type="text" name="email" maxlength="80" size="30">
          </td>
         </tr>
         <tr>
          <td valign="top">
           <label for="telephone">Telephone Number</label>
          </td>
          <td valign="top">
           <input  type="text" name="telephone" maxlength="30" size="30">
          </td>
         </tr>
         <tr>
          <td valign="top">
           <label for="comments">Comments *</label>
          </td>
          <td valign="top">
           <textarea  name="comments" maxlength="1000" cols="25" rows="6"></textarea>
          </td>
         </tr>
         <tr>
          <td colspan="2" style="text-align:center">
           <input type="submit" value="Submit">  
          </td>
         </tr>
         </table>
         </form>
	</div>