

body{
	background:url(../assets/wood.jpeg);
	margin:0px;
}
p { 
	color: #666; 
	font-size: 14px; 
	font-family: "Futura", Arial, sans-serif; 
	font-weight: normal; 
	margin: 20px 30px 0px 30px; 
}
h1{
	position:relative;
	font-family: "Arial", sans-serif;  
	font-size: 1em; 
	margin: 60px 0 -40px 100px;
	background: -webkit-gradient(linear, left top, left bottom, from(#5784B0), to(#3c5e7f));
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	  -ms-linear-gradient(bottom, rgb(60,94,127) 0%, rgb(87,132,176) 100%);
	color:#5784B0;/*mozilla*/
	border-bottom: 1px dotted #b08357;


}
.sub { 
	color: #3c5e7f;
	margin-left:200px;
	font-size: .4em; 
	font-family: "Futura", sans-serif;  
	font-weight: normal; 
}




/***************NAVAGATION STYLING***************/
.nav{
	background:#5784b0;
  background-image: linear-gradient(bottom, rgb(60,94,127) 0%, rgb(87,132,176) 100%);
	background-image: -o-linear-gradient(bottom, rgb(60,94,127) 0%, rgb(87,132,176) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(60,94,127) 0%, rgb(87,132,176) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(60,94,127) 0%, rgb(87,132,176) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(60,94,127) 0%, rgb(87,132,176) 100%);
	width:100%;
	font-family: "Futura", sans-serif;  
	font-weight: bold;
	position:fixed;
	z-index:1003;
	padding:0px 0px 0px 0px;
}
.one{
	position:relative;
	margin:0 10%;
	width: 100%;
	display: inline-block;
}
.two{
	display: inline-block;
}
.nav input{
	position:relative;
	width:180px;
  padding:10px;
  cursor:pointer;
  font-family: "Futura", sans-serif;  
  color:#5784b0;
  background-image: linear-gradient(bottom, rgb(0,0,0) 0%, rgb(98,98,98) 100%);
	background-image: -o-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(98,98,98) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(98,98,98) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(98,98,98) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(98,98,98) 100%);
  font-size:20px;
    -webkit-border-radius: 15px;
  	-moz-border-radius: 15px;
  border-radius: 15px;
  	-moz-box-shadow:0px 0px 15px #444444;
  	-webkit-box-shadow:0px 0px 15px #444444;
}
a :active{background:green;}

.right{
	float:right;
}




/***************HOME PAGE STYLING***************/
#home { 
	position: relative; 
	width: 1000px; 
	height: 1000px;
	color:black;
	/*color:#624107;*/ 
	padding:60px 0px 0 0;
	margin:0px auto;
	font-size: 60px; 
	font-family: "Futura", sans-serif;  
	/*border:solid 1px #EFE6D6;*/
}
#myCanvas {
				margin-left: 10px;
        border:1px solid black;
}
#liner{
	margin:120px 0 0 0;
}
.wet_paint{
	position: absolute;
  margin-left: 350px;
  margin-top:10px;
}




/***************ALL ABOUT ME PAGE STYLING***************/
#about{
	position: relative; 
	width: 90%; 
	height: 90%;
	margin:50px auto 0 auto;
	font-size: 60px; 
	font-family: "Futura", sans-serif;  
	font-weight: bold;
	background:#efe6d6;
	border:solid #EFE6D6 1px;
}
#p1{
	display: inline-block;
  margin: 20px 30px 0px 360px;
  
}
.pic{
  display: inline-block;
  margin: 5% 100px;
  position: absolute;
  -moz-transform: rotate(-7deg);  
	transform:rotate(-7deg);
	-ms-transform:rotate(-7deg); /* Internet Explorer */
	-moz-transform:rotate(-7deg); /* Firefox */
	-webkit-transform:rotate(-7deg); /* Safari and Chrome */
	-o-transform:rotate(-7deg); /* Opera */
}	
#skills{
	color:#3c5e7f;
  font-size: 0.4em;
  margin-left: 355px;
  margin-top: 50px;
  margin-bottom: 30px;
  
}
.col1{
  color:#666;
}
#column_item{
  background:url("../assets/close.png") no-repeat;
  margin-right:60px;
  padding-left:35px;
  padding-top:5px;
  font-size: .7em;
}
/*.col2{
  color: #666;
  position: relative;
  float: right;
  margin-top: -120px;
	margin-right: -20px;
}*/







/***************MY PORTFOLIO PAGE STYLING***************/
 #portfolio{ 
	position: relative; 
	width: 90%; 
	height: 100%; 
	margin:50px auto 0 auto;
	background:#efe6d6;
	font-family: "Futura", Arial, sans-serif; 
	font-weight: bold;
	font-size: 60px; 
	color:#624107; 
	border:solid #EFE6D6 1px;
}	
.my_carousel { 
	position: relative;
width: 100%;
margin: auto; 
}
#caption { 
	width: 260px; 
	left: 48px; 
	top: 318px; 
	position: absolute; 
	visibility: visible; 
}
#text { 
	left: 336px; 
	top: 318px; 
	position: absolute; 
	width: 400px; 
	visibility: visible; 
	margin-top: 10px; 
}
.carousel_container { 
	height: 300px;
  margin: 60px 0px;
	}
#carousel { 
	margin-left: 6%;
	width: 90%;
	height: 250px;
}
#carousel img { 
	width: 150px; 
	height: 150px; 
	cursor: pointer; 
}
.nextItem { 
	position: absolute; 
	top: 150px; 
	left: 0px; 
	z-index: 1001; 
	cursor: pointer;
}
.prevItem { 
	position: absolute; 
	top: 150px; 
	right: 0px; 
	z-index: 1002; 
	cursor: pointer;
}
.caption_container { 
	width: 435px; 
	border-left: 3px solid #713e1b; 
	margin: 0px 0px 30px 300px; 
	padding: 0px 0px 0px 20px; 
}
#captions h2 { 
	font-family: "Arial"; 
	font-size: 32px; 
	font-weight: normal; 
	margin: 0px 0px 5px 0px; 
	color: #3c5e7f; 
}
#captions p { 
	color: #666; 
	font-size: 16px; 
	font-family: "Futura", Arial, sans-serif; 
	font-weight: normal; 
	margin: 0 0 0 0; 
}
.carousel_data { 
	display: none; 
}	
a { 
	color: #5784B0; 
	text-decoration: none; 
	font-size:20px;
}







/***************CONTACT PAGE STYLING***************/
#contact{
	position: relative; 
	width: 80%; 
	height: 2000px;
	color:#624107; 
	margin:50px auto 0 auto;
	font-size: 60px; 
	font-family: "Futura", sans-serif; 
	background:#efe6d6;
	border:#EFE6D6 1px solid;
}

label{
color: green;
font-size: 16px;
float: right;
padding-top: 45px;
padding-right: 0px;
}





/***************LIGHT BOX STYLING***************/
.backdrop
{
	position:absolute;
	top:0px;
	left:0px;
	width:500%;
	height:500%;
	background:#000;
	opacity: .0;
	filter:alpha(opacity=0);
	z-index:999;
	display:none;
}
.box
{
	position:absolute;
	top: 220%;
	left:20%;
	/*height:500px;
	overflow-y:scroll;*/
	background:#000;
	z-index:1003;
	padding:10px;
	border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	box-shadow:0px 0px 5px #444444;
		-moz-box-shadow:0px 0px 5px #444444;
		-webkit-box-shadow:0px 0px 5px #444444;
	display:none;
}
.close
{
	float:right;
	margin-right:6px;
	cursor:pointer;
}
#box_content{
  display:none;
}
.mer{
	color:purple;
}




@media screen and (max-width: 600px) {
  h1 {
    border:1px solid red;
  }
}










