.ball {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,183,229,0.9);
	opacity:.9;
	border-top:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 35px #2187e7;
	width:50px;
	height:50px;
	margin:0 auto;
	-moz-animation:spin .5s infinite linear;
	-webkit-animation:spin .5s infinite linear;
}
.ball1 {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,183,229,0.9);
	opacity:.9;
	border-top:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 15px #2187e7; 
	width:30px;
	height:30px;
	margin:0 auto;
	position:relative;
	top:-50px;
	-moz-animation:spinoff .5s infinite linear;
	-webkit-animation:spinoff .5s infinite linear;
}
@-moz-keyframes spin {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg); }
}
@-moz-keyframes spinoff {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(-360deg); }
}
@-webkit-keyframes spin {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
@-webkit-keyframes spinoff {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(-360deg); }
}

body{
	background:url(../assets/blue.jpg);
	margin:0px;
}
p { 
	color: #666; 
	font-size: 14px; 
	font-family: "Futura", Arial, sans-serif; 
	font-weight: normal; 
	margin: 20px 30px 0px 30px; 
}
h1{
	position:relative;
	font-family: "Arial", sans-serif;  
	font-size: 1em; 
	margin: 65px 0 -40px 100px;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#5784B0), to(#004269));*/
	  /*-webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	  -ms-linear-gradient(bottom, rgb(60,94,127) 0%, rgb(87,132,176) 100%);*/
	color:#5784B0;/*mozilla*/
	border-bottom: 1px dotted #b08357;
}
.sub { 
	color: #004269;
	margin-left:200px;
	font-size: .4em; 
	font-family: "Futura", sans-serif;  
	font-weight: normal; 
}
a { 
	color: #5784B0; 
	text-decoration: none; 
	font-size:20px;
}
canvas{
	z-index: -1;
	position: absolute;
	border:1px solid red;
	margin:0px;
	width:  100%;
  height: 100%;
}









/***************NAVAGATION STYLING***************/
* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
nav {
	width: 100%;
	margin: 0px auto;
	overflow: hidden;
	position: fixed;
	z-index: 1003;	
}
nav ul {
	list-style: none;
	overflow: hidden;
}
nav li a {
	background:#5784b0;
  background-image: linear-gradient(bottom, rgb(60,94,127) 0%, rgb(87,132,176) 100%);
	background-image: -o-linear-gradient(bottom, rgb(60,94,127) 0%, rgb(87,132,176) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(60,94,127) 0%, rgb(87,132,176) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(60,94,127) 0%, rgb(87,132,176) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(60,94,127) 0%, rgb(87,132,176) 100%);
	border-right: 2px solid #fff;
	color: #fff;
	display: block;
	float: left;
	font: 400 20px/1.4 "Century Gothic", Helvetica, Verdana, Arial, sans-serif;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 25%;
	height:20%; 	
	/*TRANSISTIONS*/
	-webkit-transition: background 0.5s ease;
	   -moz-transition: background 0.5s ease;
	     -o-transition: background 0.5s ease;
	    -ms-transition: background 0.5s ease;
	        transition: background 0.5s ease;
}
/*HOVER*/
nav li a:hover {
	background: #222;
}
/*SMALL*/
nav small {
	font: 100 11px/1 Helvetica, Verdana, Arial, sans-serif;
	text-transform: none;
	color: #aaa;
}
/*BORDER FIX*/
nav li:last-child a {
	border: none;
}










/***************HOME PAGE STYLING***************/
#home { 
	position: relative; 
	width: 1000px; 
	height: 1000px;
	color:black;
	/*color:#624107;*/ 
	padding:60px 0px 0 0;
	margin:0px auto;
	font-size: 60px; 
	font-family: "Century Gothic", sans-serif;  
	/*border:solid 1px #EFE6D6;*/
}
#myCanvas {
	margin-left: 10px;
  border:1px solid black;
}
#logo{
	display: inline-block;
	margin: 20px 0 0 5%;
}
.wet_paint{
	position: absolute;
}











/***************ALL ABOUT ME PAGE STYLING***************/
#about{
	position: relative; 
	width: 90%; 
	height: 90%;
	margin:50px auto 0 auto;
	font-size: 60px; 
	font-family: "Futura", sans-serif;  
	font-weight: bold;
	background:#efe6d6;
	border:solid #EFE6D6 1px;
}
.para1{
	display: inline-block;
  margin: 20px 30px 0px 360px;
}
.pic{
  display: inline-block;
  margin: 10% 75px 5% 75px;
  position: absolute;
  -moz-transform: rotate(-7deg);  
	transform:rotate(-7deg);
	-ms-transform:rotate(-7deg); /* Internet Explorer */
	-moz-transform:rotate(-7deg); /* Firefox */
	-webkit-transform:rotate(-7deg); /* Safari and Chrome */
	-o-transform:rotate(-7deg); /* Opera */
}	
#skills{
	color:#004269;
  font-size: 0.4em;
  margin-left: 355px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.col1{
  color:#666;
  display: inline-block;
}
#column_item{
  background:url("../assets/close.png") no-repeat;
  margin-right:60px;
  padding-left:35px;
  padding-top:5px;
  font-size: .7em;
}
.col2{
	display: inline-block;
  color: #666;
}











/***************MY PORTFOLIO PAGE STYLING***************/
 #portfolio{ 
	position: relative; 
	width: 90%; 
	height: 100%; 
	margin:50px auto 0 auto;
	background:#efe6d6;
	font-family: "Futura", Arial, sans-serif; 
	font-weight: bold;
	font-size: 60px; 
	color:#624107; 
	border:solid #EFE6D6 1px;
}	
#work{
	margin: 0px 30px 30px 70px;
	padding: 20px 0 0 20px;
}
.cat{
	height: 123px;
	margin-right: 15px;
	box-shadow: 10px 10px 5px #888;
	display: inline-block;
}
#fade{
  opacity: .7;
}
#fade:hover{
  opacity: 1.0;
}












/***************CONTACT PAGE STYLING***************/
#contact{
	position: relative; 
	width: 90%; 
	height: 2000px;
	margin:50px auto 0 auto;
	font-size: 60px; 
	font-family: "Futura", sans-serif; 
	background:#efe6d6;
	border:#EFE6D6 1px solid;
}
#contact_blurb{
	color:#666;
	margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
}
#tag{
	color: #666;
	font-size: 16px;
	margin-top: 35px;
	margin-left: 13px;
	height: 0px;
}
#tag1{
	color: #666;
	font-size: 16px;
	margin-left: 5px;
	margin-bottom: -20px;
	height: 0px;
}
label{
	color: #666;
	font-size: 16px;
	padding-top: 45px;
	padding-left: 15px;
}
form{
	position: relative;
  width: 500px;
  margin: 0 20%;
}
.first_name_label{
	margin-left: 68px;
}
.last_name_label{
	margin-left: 69px;
}
.email_address_label{
	margin-left: 42px;
}
#submit_form_button{
	position: relative;
  width: 25%;
	padding: 5px;
	cursor: pointer;
	font-family: "Futura", sans-serif;
	color: #5784B0;
  background-image: linear-gradient(bottom, rgb(0,0,0) 0%, rgb(98,98,98) 100%);
	background-image: -o-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(98,98,98) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(98,98,98) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(98,98,98) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(98,98,98) 100%);
  font-size: 18px;
    -webkit-border-radius: 15px;
  	-moz-border-radius: 15px;
  border-radius: 15px;
  	-moz-box-shadow:0px 0px 15px #444444;
  	-webkit-box-shadow:0px 0px 15px #444444;
  margin-left: 4px;
}
#email_address{
	margin-bottom: 4px;
}
#notes{
	resize:none;
	margin-bottom: -30px;
	margin-top: 51px;
}











/***************LIGHT BOX STYLING***************/
#lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  display: none;
}
#lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-weight: normal;
}
#lightbox img {
  width: auto;
  height: auto;
}
#lightbox a img {
  border: none;
}
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-container {
  padding: 10px;
}
.lb-loader {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.lb-container > .nav {
  left: 0;
}
.lb-nav a {
  outline: none;
}
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  /* Trick IE into showing hover */
  display: block;
}
.lb-prev {
  left: 0;
  float: left;
}
.lb-next {
  right: 0;
  float: right;
}
.lb-prev:hover {
  background: url(../assets/prev.png) left 48% no-repeat;
}
.lb-next:hover {
  background: url(../assets/next.png) right 48% no-repeat;
}
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-data {
  padding: 0 10px;
  color: #bbbbbb;
}
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 11px;
}
.lb-data .lb-close {
  width: 35px;
  float: right;
  padding-bottom: 0.7em;
  outline: none;
}
.lb-data .lb-close:hover {
  cursor: pointer;
}










@media screen and (max-width: 500px) {
	h1{
		/*color:red;*/
		font-size: .7em;
	}
}
@media screen and (max-width: 603px) {
	.sub { 
	margin-left:93px;
	font-size: .3em; 
	}	
	.pic{
   position: relative;
  }
	.para1{
		margin: 20px 30px 0px 30px;
	}
	.cat{
		margin: 0 15%;
	}
}
@media screen and (max-width: 1064px) {
	#skills{
		margin-left: 30px;
		margin-top: 15%;
	}
}





/* NAVIGATION MEDIA QUERIES*/
@media only screen and (max-width : 1220px),
only screen and (max-device-width : 1220px){
	nav li a {
		font: 400 20px/1.4 'Century Gothic', Helvetica, Verdana, Arial, sans-serif;
	}
	nav small {
		font: 100 10px/1 Helvetica, Verdana, Arial, sans-serif;
	}
}
@media only screen and (max-width : 1008px),
only screen and (max-device-width : 1008px){
	nav li a {
		width: 25%;
		font: 400 18px/1.4 'Century Gothic', Helvetica, Verdana, Arial, sans-serif;
	}	
	nav li:last-child a, nav li:nth-child(4) a {
		border-right: none;
	}
	nav li:nth-child(5) a, nav li:nth-child(6) a, nav li:nth-child(7) a, nav li:nth-child(8) a {
		border-bottom: none;
	}
}

@media only screen and (max-width : 580px),
only screen and (max-device-width : 580px){
	nav li a {
		width: 25%;
		font: 400 11px/1.4 'Century Gothic', Helvetica, Verdana, Arial, sans-serif;
	}
	nav li:last-child a, nav li:nth-child(4) a {
		border-right: none;
	}
	nav li:nth-child(5) a, nav li:nth-child(6) a, nav li:nth-child(7) a, nav li:nth-child(8) a {
		border-bottom: none;
	}	
}
@media only screen and (max-width : 320px),
only screen and (max-device-width : 320px){
	nav li a {
		font: 400 11px/1.4 'Century Gothic', Helvetica, Verdana, Arial, sans-serif;
	}
}

